*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    color: #53565a;

}

header,main{
    max-width: 100vw;
    margin: 0 auto;
}

.top-baner{
    
}


.nav-container{
    max-width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d0df00;
}
.nav-lista{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}


.nav-lista a{
    text-decoration: none;
    font-weight: bold;
    color: #63666a;
}
.nav-lista a:hover{
    border-bottom: 2px solid #63666a;
    transition: .15s;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.50);
}

#logo-img{
    width: 150px;
    object-fit: cover;
}

.container{
    display: flex;
    justify-content: center;
    height:  90vh;
    position: relative;
}
#container-gray{
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#video-fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#introduccion{
    text-align: left;
    color: #ffffff;
    font-size:30px;
    font-weight: bold;
    padding: 10% 3%;
}

span{
    color: #d0df00;
}
span:hover{
    color: #b5c202;
    transition: .15s;
}

#introduccion h1{
    margin-bottom: 50px;
    
}
#introduccion p{
        width: 57%;
        text-align: justify;
}

#acerca-de{
  
}

.seccion-acerca{
    
}
.seccion-acerca ol {
}


.seccion-acerca{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.seccion-acerca p,.seccion-acerca li{
    padding-top:2%;
}
.seccion-acerca img{
    width: 50%;
}
.acerca-de-contenido{
    flex: 1;
}

#funcionamiento{
}
#semaforo{

}