*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    color: #53565a;

}

header,main{
    max-width: 100vw;
}

.top-baner{
    
}


.nav-container{
    max-width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d0df00;
}
.nav-lista{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}


.nav-lista a{
    text-decoration: none;
    font-weight: bold;
    color: #63666a;
}
.nav-lista a:hover{
    border-bottom: 2px solid #63666a;
    transition: .15s;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.50);
}

.logo{
    display: flex;
}
#logo-img{
    width: 150px;
    object-fit: cover;
}

.container{
    text-align: center;
    padding: 15px;
}
.container h2{
    font-size: 35px;
    font-weight: bold;
}
.container p{
    margin: 15px 0px;
}

#acerca-de{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
    gap: 3%;
    padding: 20px;
}

.seccion-acerca{
    text-align: center;
    border: 2px solid red;
}
.seccion-acerca ol {
    display: inline-block;
}

#que-es{
    grid-column: 1/2;
}

#funcionamiento{
    grid-column: 2/3;

}
#semaforo{

}