*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    color: #53565a;
}

header,main{
    max-width: 100vw;
}

.top-baner{
    
}


.nav-container{
    max-width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d0df00;
}
.nav-lista{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}


.nav-lista a{
    text-decoration: none;
    font-weight: bold;
    color: #63666a;
}
.nav-lista a:hover{
    border-bottom: 2px solid #63666a;
    transition: .15s;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.50);
}

.logo{
    display: flex;
}
#logo-img{
    width: 150px;
    object-fit: cover;
}

#que-es{

}

#funcionamiento{

}
#semaforo{

}